.channel-page .follow button {
    background-color: #bf40bf !important;
    color: azure !important;
}

.video-section .card:hover {
    transform: translateY(0%);
}

.card .card-title {
    height: 30px;
}

.channel-page .social-media {
    bottom: 18px; left: 20px
}

.channel-page .follow {
    bottom: 18px; right: 18px
}

@media (max-width:597px ) {
    .navbar-light .navbar-nav .nav-link{
        font-size: 13px;
        padding-right: 4px ;
        padding-left: 4px ;
    }
}
@media (min-width:597px) {
    .navbar-light .navbar-nav .nav-link {
        padding-right: 4px ;
        padding-left: 4px;
    }
}
 