#s-f-i {
    cursor: pointer;
}
  
.search-header .filter-column {  
    display: none;
}

input:checked+span {
    color:#bf40bf;
}

time {
    bottom: 7px;
    left: 29px;
}

.card .card-horizontal .card-body p {
    white-space: nowrap;
    overflow: hidden ;
    text-overflow: ellipsis;

}

.card .img-square-wrapper img {
    height: 250px;
    width: 250px;
}

.card-body {
    min-width: 0;
}

@media (max-width:776px) {
    .card .card-top-image  {
        width: 100%;

    }
    
    .card .card-horizontal time {
        left: 10px;
    }
    .card .card-horizontal .fa-play {
        right: 48px;
        
    }
}

@media (min-width:767px) and (max-width:992px) {
    .card .card-horizontal .card-body .channel-img {
        display: block;
        margin-top: 10px;
    }
    .card .card-horizontal .card-body .channel-img>img{
        margin-right: 0px !important;
    }
}
@media (max-width:777px) {

    .card .img-square-wrapper img{ 
        width:100%;
    }
    }
