body {
    overflow-x:hidden;
    padding: 7px !important;
}

.card:hover {
    transform: translateY(0%);
}

.watch-page .watch-icons {
    position: absolute;
    bottom: 5px;
}

.watch-icons:hover {
    cursor: pointer;
}

.watch-page #more {
    display: none;
}

.form-control:focus {
    box-shadow: none;
}

.card-inner {
    display: none;
}

.public-comments .card .btn {
    background-color: #921192;
    border: #921192;
    color: #fff;
}

.public-comments .card .btn:hover {
    background-color: #b915b9;
}

time {
    left: 24px !important;
}

.watch-page .fa-play {
    right: 46% !important;
}

div.dropdown-menu.show {
    inset: 0px 105px auto auto !important;
}

@media (min-width:992px) {
    time {
        font-size: 13px;
    }
    .fa-play {
        font-size: 20px;
    }
}

@media (max-width:1020px) {
    #mybtn {
        margin-bottom: 60px !important;
    }
}

@media (max-width:365px) {
    .reaply-time {
        font-size: 10px;
    }
}

@media (max-width:768px) {
    .card .card-body img {
        width: 60px;
    }
}